header.masthead
  a#branding(href="#")
    h1 Moby Dick
    h2 by Herman Melville

  p#toc-toggle
    a.menu-open(href="#") <i class="zmdi zmdi-menu"></i>
    a.menu-close(href="#") <i class="zmdi zmdi-close"></i>
