<!DOCTYPE html>
html(lang="en")
  head
    title Moby Dick, by Herman Melville
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="apple-touch-icon", sizes="57x57", href="apple-57x57.jpg")
    link(rel="apple-touch-icon", sizes="72x72", href="apple-72x72.jpg")
    link(rel="apple-touch-icon", sizes="114x114", href="apple-114x114.jpg")
    link(rel="apple-touch-icon", sizes="144x144", href="apple-144x144.jpg")
    link(rel="stylesheet", href="assets/css/main.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css")
    link(href="https://fonts.googleapis.com/css?family=IM+Fell+DW+Pica" rel="stylesheet")
  body
    include header.jade
    include nav.jade
    include intro.jade

    // Chapters

    include chapters/chapter1.jade
    include chapters/chapter2.jade
    include chapters/chapter3.jade
    include chapters/chapter4.jade
    include chapters/chapter5.jade
    include chapters/chapter6.jade
    include chapters/chapter7.jade
    include chapters/chapter8.jade
    include chapters/chapter9.jade
    include chapters/chapter10.jade
    include chapters/chapter11.jade
    include chapters/chapter12.jade
    include chapters/chapter13.jade
    include chapters/chapter14.jade
    include chapters/chapter15.jade
    include chapters/chapter16.jade
    include chapters/chapter17.jade
    include chapters/chapter18.jade
    include chapters/chapter19.jade
    include chapters/chapter20.jade
    include chapters/chapter21.jade
    include chapters/chapter22.jade
    include chapters/chapter23.jade
    include chapters/chapter24.jade
    include chapters/chapter25.jade
    include chapters/chapter26.jade
    include chapters/chapter27.jade
    include chapters/chapter28.jade
    include chapters/chapter29.jade
    include chapters/chapter30.jade
    include chapters/chapter31.jade
    include chapters/chapter32.jade
    include chapters/chapter33.jade
    include chapters/chapter34.jade
    include chapters/chapter35.jade
    include chapters/chapter36.jade
    include chapters/chapter37.jade
    include chapters/chapter38.jade
    include chapters/chapter39.jade
    include chapters/chapter40.jade
    include chapters/chapter41.jade
    include chapters/chapter42.jade
    include chapters/chapter43.jade
    include chapters/chapter44.jade
    include chapters/chapter45.jade
    // include chapters/chapter46.jade
    // include chapters/chapter47.jade
    // include chapters/chapter48.jade
    // include chapters/chapter49.jade
    // include chapters/chapter50.jade
    // include chapters/chapter51.jade
    // include chapters/chapter52.jade
    // include chapters/chapter53.jade
    // include chapters/chapter54.jade
    // include chapters/chapter55.jade
    // include chapters/chapter56.jade
    // include chapters/chapter57.jade
    // include chapters/chapter58.jade
    // include chapters/chapter59.jade
    // include chapters/chapter60.jade
    // include chapters/chapter61.jade
    // include chapters/chapter62.jade
    // include chapters/chapter63.jade
    // include chapters/chapter64.jade
    // include chapters/chapter65.jade
    // include chapters/chapter66.jade
    // include chapters/chapter67.jade
    // include chapters/chapter68.jade
    // include chapters/chapter69.jade
    // include chapters/chapter70.jade




    script(src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous")
    script(src="assets/js/app.js")
