/* --------------------------------------------------------
   Core mixins
   -------------------------------------------------------- */
/* --------------------------------------------------------
   Reset and dependencies
   -------------------------------------------------------- */
/* --------------------------------------------------------
   Core CSS
   -------------------------------------------------------- */
/* --------------------------------------------------------
   Components
   -------------------------------------------------------- */
/* --------------------------------------------------------
   Components w/ JavaScript
   -------------------------------------------------------- */
/* --------------------------------------------------------
   Utility classes
   -------------------------------------------------------- */
/* --------------------------------------------------------
   Custom application specific styles
   -------------------------------------------------------- */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  position: relative;
  z-index: 1;
  font-family: 'IM Fell DW Pica', serif;
  -webkit-transition: -webkit-transform 300ms ease;
          transition: transform 300ms ease;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p {
  margin: 1rem 0 .5rem;
  font-size: 18px;
  line-height: 1.3;
  color: #333;
}

article {
  padding: 0 1rem 60px;
  max-width: 768px;
  margin: auto;
}

main {
  -webkit-transition: all 300ms ease;
          transition: all 300ms ease;
}

.uppercase {
  text-transform: uppercase;
}

.italic {
  font-style: italic;
}

.section-heading {
  text-align: center;
}

.masthead {
  padding: .5rem 1rem;
  background-color: #222;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
}

.masthead a {
  color: white;
  text-decoration: none;
}

.masthead-stick {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

#branding {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#branding h1 {
  font-size: .9rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-right: 1rem;
}

#branding h2 {
  font-size: .9rem;
  font-weight: 400;
}

.nav-trigger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ddd;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}

.nav-trigger ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-trigger ul li {
  padding: .5rem 0 0;
}

.nav-trigger a {
  font-size: 1.5rem;
  color: black;
}

.menu-close {
  display: none;
}

#toc-toggle {
  display: none;
}

.chapter-masthead {
  text-align: center;
  padding-top: 2rem;
}

.chapter-heading {
  font-size: 2rem;
  padding: 2rem 0 1rem;
}

.chapter-sub {
  padding-bottom: 1rem;
  text-transform: uppercase;
  font-size: .9rem;
}

#main-menu {
  background: #eee;
  text-align: center;
  padding: 2rem 0 0;
  margin-bottom: 2rem;
  height: 40vh;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow-y: auto;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
  z-index: 10;
  display: none;
}

#main-menu ul {
  list-style: none;
  padding: 0;
  display: block;
}

#main-menu ul li {
  padding: .5rem 0;
}

#main-menu ul li a {
  text-decoration: none;
  color: #222;
}

.menu-heading {
  font-size: 1rem;
  text-transform: uppercase;
}

.intro {
  background-image: url(http://www.picaresquestudio.com/wp-content/uploads/2014/11/TheWhale.jpg);
  background-size: cover;
  background-position: center top;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro .title {
  text-align: center;
  color: white;
}

.intro .title h1 {
  font-size: 3.5rem;
  font-weight: 400;
}

.intro .title h2 {
  font-weight: 400;
  font-size: 1rem;
}

.poem p {
  font-size: 1.1rem;
}

.menu-reveal {
  margin-left: -20vw;
}

@media (min-width: 768px) {
  p {
    font-size: 20px;
    line-height: 1.4;
  }
  #main-menu {
    font-size: 1.3rem;
  }
  .menu-heading {
    font-size: 1.3rem;
  }
  .intro .title {
    text-align: left;
    margin-left: 1rem;
  }
  .intro .title h1 {
    font-size: 5.5rem;
  }
  .intro .title h2 {
    font-weight: 400;
    font-size: 1.5rem;
  }
  .intro {
    background-position: center 5%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media (min-width: 900px) {
  .masthead {
    display: none;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #branding {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .nav-trigger {
    display: none;
  }
  #toc-toggle {
    display: block;
  }
  .chapter-masthead {
    padding-top: 4rem;
  }
  #main-menu {
    position: fixed;
    top: 68px;
    left: 100vw;
    width: 20vw;
    height: 100vh;
    overflow-y: auto;
    background: #eee;
    padding: 2rem 1rem 4rem;
  }
  #main-menu ul {
    list-style: none;
    padding: 0;
  }
  #main-menu ul li {
    padding: 1rem 0;
  }
  #main-menu ul a:hover {
    text-decoration: underline;
  }
}

@media (min-width: 1200px) {
  .intro {
    background-position: center 10%;
  }
}
